<form action="" method="get" class="form-inline" style="padding-bottom: 10px;">
    <div class="form-group">
        <input class="form-control input-sm" type="text" name="isbn" placeholder="ISBN" value="{{isbn}}">
    </div>
    <div class="form-group">
        <input class="form-control input-sm" type="text" name="name" placeholder="Название книги" value="{{name}}">
    </div>
    <div class="form-group">
        <input class="form-control input-sm" type="text" name="author" placeholder="Автор книги" value="{{author}}">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success btn-sm">Поиск</button>
    </div>
</form>